@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

* { font-family: 'Roboto', sans-serif; line-height: 1.2; vertical-align: middle; }

body { background: #999999; }
body:hover main {
    transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}

main {
    display: block;
    position: relative;
    width: 30rem;
    margin: 3vh auto;
    padding: 1.5rem 0 0;
    background: #d5d5d5;
    border-radius: .25rem;
    overflow: hidden;
    transform: scale(.75);
    -moz-transform: scale(.75);
    -ms-transform: scale(.75);
    -webkit-transform: scale(.75);
    -o-transform: scale(.75);
    transform-origin: center 3rem;
    -moz-transform-origin: center 3rem;
    -ms-transform-origin: center 3rem;
    -webkit-transform-origin: center 3rem;
    -o-transform-origin: center 3rem;
    transition: transform .3s;
    -moz-transition: transform .3s;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
}

p {
    color: #FF0000;
    margin: -1.4rem 3rem 1rem;
}
p#special {
    margin: -1rem 3rem 1rem;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #4285f4;
    font-weight: 700;
    background-color: transparent
}
a:hover {
    border: 0 solid #4285f4;
    border-bottom-width: 2px;
}
a#profile, a#profile:link, a#profile:visited, a#profile:hover, a#profile:active, strong {
    text-decoration: none;
    background-color: transparent;
    font-weight: 300;
    color: #539D00;
        
}
a#profile:hover {
    border: 0 solid #539D00;
    border-bottom-width: 2px;
}

img#avatar {
    padding: 1rem;
}

div {
    word-wrap: break-word;
    text-align: left;
}
div#author, div#date {
    width: 50%;
    margin-top: -.5rem;
}
div#date {
    text-align: right;
    float: right;
    color: #EE3333;
}
div#author, div#number {
    text-align: left;
    float: left;
}
div#content {
    margin-top: 3rem;
}
div#share {
    text-align: right;
    margin-top: 1rem;
    margin-bottom: -.5rem;
}
div#form {
    display: inline-block;
    text-align: center;
    margin: auto 0;
}

input, textarea, .card {
    position: relative;
    z-index: 2;
}
input, textarea {
    display: block;
    width: 25rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 0;
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    box-shadow: 0 2px 3px #aaa;
    transition: .5s, margin-bottom .15s;
    -moz-transition: .5s, margin-bottom .15s;
    -webkit-transition: .5s, margin-bottom .15s;
    -o-transition: .5s, margin-bottom .15s;
    overflow: auto;
}
input:focus, textarea:focus {
    margin-top: 0;
    margin-bottom: 1rem;
    outline: 0;
}
input:focus + header, textarea:focus + header {
    transform: translate3d(0, -10rem, 0);
    -moz-transform: translate3d(0, -10rem, 0);
    -ms-transform: translate3d(0, -10rem, 0);
    -webkit-transform: translate3d(0, -10rem, 0);
    -o-transform: translate3d(0, -10rem, 0);
    opacity: 0;
}
input[type=submit] {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
input[type=submit]#hello {
    width: 6rem;
    margin-top: .5rem;
    font-size: 1rem;
}
input[type=submit]#add {
    width: 15rem;
    margin-top: .5rem;
}
input[type=file] {
    position: fixed;
    z-index: 1;
    visibility: hidden;
    display: none;
    opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    filter: alpha(opacity=0);
}

.card {
    padding: 1.5rem;
    box-shadow: 0 1px 2px #aaa;
    -moz-box-shadow: 0 1px 2px #aaa;
    -webkit-box-shadow: 0 1px 2px #aaa;
    background: white;
    text-align: center;
    word-wrap: break-word;
    margin: 0 auto 2rem;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    animation: fly-in-from-left .5s 1s ease both;
    -moz-animation: fly-in-from-left .5s 1s ease both;
    -webkit-animation: fly-in-from-left .5s 1s ease both;
    -o-animation: fly-in-from-left .5s 1s ease both;
    transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
}
.card:after {
    position: absolute;
    font-size: .9rem;
    top: 1.5rem;
    right: 1rem;
    border: thin solid gray;
    color: gray;
    width: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    pointer-events: none;
}
.card:nth-child(even){
    animation-name: fly-in-from-right;
    -moz-animation-name: fly-in-from-right;
    -webkit-animation-name: fly-in-from-right;
    -o-animation-name: fly-in-from-right;
    animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -webkit-transform-origin: top right;
    -o-transform-origin: top right;
}
#auth.card, #error.card, #add.card, #blog.card, #comment.card, #profile.card {
    float: none;
    width: 40%;
    min-width: 30rem;
}
#hello.card {
    float: right;
    width: 15%;
}
#main.card {
    float: left;
    width: 10%;
}
#head.card {
    float: none;
    width: 50%;
}

@keyframes fly-in-from-left {
    from {
        transform: translateY(15rem) rotate(15deg);
        -moz-transform: translateY(15rem) rotate(15deg);
        -ms-transform: translateY(15rem) rotate(15deg);
        -webkit-transform: translateY(15rem) rotate(15deg);
        -o-transform: translateY(15rem) rotate(15deg);
        opacity: 0;
    }
}
@-moz-keyframes fly-in-from-left {
    from {
        transform: translateY(15rem) rotate(15deg);
        -moz-transform: translateY(15rem) rotate(15deg);
        -ms-transform: translateY(15rem) rotate(15deg);
        -webkit-transform: translateY(15rem) rotate(15deg);
        -o-transform: translateY(15rem) rotate(15deg);
        opacity: 0;
    }
}
@-webkit-keyframes fly-in-from-left {
    from {
        transform: translateY(15rem) rotate(15deg);
        -moz-transform: translateY(15rem) rotate(15deg);
        -ms-transform: translateY(15rem) rotate(15deg);
        -webkit-transform: translateY(15rem) rotate(15deg);
        -o-transform: translateY(15rem) rotate(15deg);
        opacity: 0;
    }
}
@-o-keyframes fly-in-from-left {
    from {
        transform: translateY(15rem) rotate(15deg);
        -moz-transform: translateY(15rem) rotate(15deg);
        -ms-transform: translateY(15rem) rotate(15deg);
        -webkit-transform: translateY(15rem) rotate(15deg);
        -o-transform: translateY(15rem) rotate(15deg);
        opacity: 0;
    }
}

@keyframes fly-in-from-right {
    from {
        transform: translateY(15rem) rotate(-15deg);
        -moz-transform: translateY(15rem) rotate(-15deg);
        -ms-transform: translateY(15rem) rotate(-15deg);
        -webkit-transform: translateY(15rem) rotate(-15deg);
        -o-transform: translateY(15rem) rotate(-15deg);
        opacity: 0;
    }
}
@-moz-keyframes fly-in-from-right {
    from {
        transform: translateY(15rem) rotate(-15deg);
        -moz-transform: translateY(15rem) rotate(-15deg);
        -ms-transform: translateY(15rem) rotate(-15deg);
        -webkit-transform: translateY(15rem) rotate(-15deg);
        -o-transform: translateY(15rem) rotate(-15deg);
        opacity: 0;
    }
}
@-webkit-keyframes fly-in-from-right {
    from {
        transform: translateY(15rem) rotate(-15deg);
        -moz-transform: translateY(15rem) rotate(-15deg);
        -ms-transform: translateY(15rem) rotate(-15deg);
        -webkit-transform: translateY(15rem) rotate(-15deg);
        -o-transform: translateY(15rem) rotate(-15deg);
        opacity: 0;
    }
}
@-o-keyframes fly-in-from-right {
    from {
        transform: translateY(15rem) rotate(-15deg);
        -moz-transform: translateY(15rem) rotate(-15deg);
        -ms-transform: translateY(15rem) rotate(-15deg);
        -webkit-transform: translateY(15rem) rotate(-15deg);
        -o-transform: translateY(15rem) rotate(-15deg);
        opacity: 0;
    }
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0 solid #efefef; 
    border-bottom-width: 1px;
}
h2 {
    margin-top: -1.5rem;
    margin-bottom: 1.2rem;
    font-size: .8rem;
    color: gray;
    font-weight: 400;
}
h3 {
    font-size: 2.2rem;
    font-weight: 300;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
h4 {
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0 solid #efefef; 
    border-bottom-width: 1px;
}